<div style="padding-top:50px">
	<div class="row">
		<div id="relationshipEditMessageContainer" class="small-6 columns small-centered" >
		</div>
	</div>
	<div class="row">
		<div class="large-12 small-12 columns">
			<div class="row" style="margin-top:0px;padding-bottom:0px">
				<div class="large-12 columns large-centered" style="margin-bottom:0px">
					<span id="relationshipEditSaveBtn" class="float-right label" style="box-shadow:6px 0px 4px rgba(0,0,0,.4);cursor:pointer;">Save</span>				
		   		</div>
			</div>
			
			<div class="row callout" style="box-shadow:6px 0px 4px rgba(0,0,0,.4);margin-bottom:0px">
				<h3>Source<span class="float-right">Target</span></h3>
				
				<div class="large-5 small-12 columns">
					<select type="text" id="relationEditSource" placeholder="Search..."></select>
	
					<div class="row collapse">
						<div class="small-4 large-3 columns">
							<span class="prefix">URL:</span>
						</div>
						<div class="small-8 large-9 columns">
							<input id="relationEditSourceId" placeholder="This isn't supposed to be empty." disabled type="text">
						</div>
					</div>
					
					<div class="row collapse">
						<div class="small-4 large-3 columns">
							<span class="prefix">Name:</span>
						</div>
						<div class="small-8 large-9 columns">
							<input id="relationEditSourceName" disabled type="text"/>
						</div>
					</div>
					
					<div class="row collapse">
						<div class="small-4 large-3 columns">
							<span class="prefix">Description:</span>
						</div>
						<div class="small-8 large-9 columns">
							<textarea disabled id="relationEditSourceDescription"></textarea>
						</div>
					</div>
		
					<div class="row collapse">
						<div class="small-4 large-3 columns">
							<span class="prefix">Scope:</span>
						</div>
						<div class="small-8 large-9 columns">
							<input disabled id="relationEditSourceScope" type="text"/>
						</div>
					</div>
				</div> 
				
				<div class="large-2 small-12 columns">                        
					<select id="relationEditType" class="prefix">
						<option value="requires" selected>Requires:</option>
						<option value="desires">Desires:</option>
						<option value="isEnabledBy">Is Enabled By:</option>
						<option value="isRelatedTo">Is Related To:</option>
						<option value="isEquivalentTo">Is Equivalent To:</option>
					</select>
				</div> 
				
				<div class="large-5 small-12 columns">
					<select type="text" id="relationEditTarget" placeholder="Search..."></select>
					
					<div class="row collapse">
						<div class="small-4 large-3 columns">
							<span class="prefix">URL:</span>
						</div>
					
						<div class="small-8 large-9 columns">
							<input id="relationEditTargetId" placeholder="This isn't supposed to be empty." disabled type="text">
						</div>
					</div>
					
					<div class="row collapse">
						<div class="small-4 large-3 columns">
							<span class="prefix">Name:</span>
						</div>
						<div class="small-8 large-9 columns">
							<input id="relationEditTargetName" disabled type="text"/>
						</div>
					</div>
					
					<div class="row collapse">
						<div class="small-4 large-3 columns">
							<span class="prefix">Description:</span>
						</div>
						<div class="small-8 large-9 columns">
							<textarea disabled id="relationEditTargetDescription"></textarea>
						</div>
					</div>
					
					<div class="row collapse">
						<div class="small-4 large-3 columns">
							<span class="prefix">Scope:</span>
						</div>
						<div class="small-8 large-9 columns">
							<input disabled id="relationEditTargetScope" type="text"/>
						</div>
					</div>
				</div> 
			
				<div class="large-12 small-12 columns">
					<div class="row collapse">
						<div class="small-4 large-3 columns">
							<span class="prefix">Relation ID:</span>
						</div>
						<div class="small-8 large-9 columns">
							<input type="text" id="relationEditId"></input>
						</div>
					</div>
					
					<div class="row collapse">
						<div class="small-4 large-3 columns">
							<span class="prefix">Relation Name:</span>
						</div>
						<div class="small-8 large-9 columns">
							<input type="text" id="relationEditName"></input>
						</div>
					</div>
					
					<div class="row collapse">
						<div class="small-4 large-3 columns">
							<span class="prefix">Relation Description:</span>
						</div>
						<div class="small-8 large-9 columns">
							<textarea id="relationEditDescription"></textarea>
						</div>
					</div>
					
					<div class="row collapse">
						<div class="small-4 large-3 columns">
							<span class="prefix">Relation Owner:</span>
						</div>
						<div class="small-7 large-8 columns">
							<div id="relationEditOwner"></div>
						</div>
						<div class="small-1 columns">
							<small id="relationEditOwnerAdvanced" class="fake-a float-right">Advanced</small>
						</div>
					</div>
				</div>
			</div>
		</div>  
	</div>
</div>