[submodule "src/main/webapp/cass-editor"]
	path = src/main/webapp/cass-editor
	url = https://github.com/cassproject/cass-editor
[submodule "src/main/webapp/cass-viewer"]
	path = src/main/webapp/cass-viewer
	url = https://github.com/cassproject/cass-viewer.git
