*.DS_Store
*._DS_Store
*.iml
skyrepo
skyrepo.p
skyrepo.t
build.xml
.settings
*.salt
*.secret
*.pem
target
scripts/node/node_modules
/adapter.moodle.json
/adapter.moodle.sync.db
/adapter.moodle.sync.db.p
/adapter.moodle.sync.db.t
/backup/

node_modules/

etc/

.idea/

adapter\.xapi\.json

npm-debug\.log

skyrepoOld

skyrepoOld\.p

skyrepoOld\.t

adapter\.amqp\.json

out\.log

alpine\.sh

alpineRun\.sh

ecs-params\.yml

\.m2/

nb-configuration\.xml

pom\.xml\.versionsBackup

data/

.settings

*.7z
.node-xmlhttprequest*
*.log

.vscode/
