*.iml
skyrepo
skyrepo.p
skyrepo.t
build.xml
.settings
*.salt
*.secret
*.pem
target
scripts/node/node_modules
/adapter.moodle.json
/adapter.moodle.sync.db
/adapter.moodle.sync.db.p
/adapter.moodle.sync.db.t
/backup/

node_modules/

etc/

adapter\.xapi\.json

npm-debug\.log

skyrepoOld

skyrepoOld\.p

skyrepoOld\.t
