<div id="editing" class="large-3 small-12 columns">
	<p id="actions">
		<button class="button" class="viewFramework">View Frameworks</button><br>
		<button class="button" requiresLogin class="createFramework">Create/Edit Framework</button><br>
		<button class="button" requiresLogin class="importFramework">Import Framework</button>
	</p>
	<p id="recentFrameworks">

	</p>
</div>
<div id="frameworkWelcome" class="large-9 small-12 columns">
	<h3>Framework Manager</h3>
	<p>Create, import, and view competency frameworks in a hierarchical form.
		<br><small>Tip: Frameworks do not have to be hierarchical! You can use more advanced tools to manage complex frameworks.</small>
	</p>
	<h4>View Frameworks</h4>
	<p>
		Inspect frameworks using this easy to use viewer. Identify competencies and export frameworks in many different formats.
		<button class="button" class="viewFramework">View Frameworks</button>
	</p>
	<h4>Create/Edit Frameworks</h4>
	<p>
		Create or edit frameworks easily using a hierarchical editor.
		<button class="button" class="createFramework">Create/Edit Frameworks</button>
	</p>
	<h4>Import Frameworks</h4>
	<p>
		Import or register frameworks from external sources.
		<button class="button" class="importFramework">Import Frameworks</button>
	</p>
</div>