#alignmentExplorerColumns .alignmentEditorElement {
    display: none;
}
#alignmentExplorerColumns .alignmentEditorElement.highlighted {
    display: block;
}
#alignmentExplorerColumns .alignmentEditorElement.selected {
    background: beige;
}
#alignmentExplorerColumns>.columns:first-of-type .alignmentEditorElement.selected {
    background: lightblue;
}

#alignmentExplorerColumns{
	max-width:inherit;
}

.alignmentEditorElement ul li{
	font-size:small;
}

.fulfilled{
	color:blue;
}