<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">
<log4j:configuration>
 
	<appender name="FILE" class="org.apache.log4j.FileAppender">
		<param name="Append" value="false" />
		<param name="File" value="AceApplication.log" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern"
				value="%d{ISO8601} [%F:%L] %-5p &lt;%m&gt; %n" />
		</layout>
		<filter class="org.apache.log4j.varia.LevelRangeFilter">
			<param name="LevelMin" value="INFO" />
			<param name="LevelMax" value="FATAL" />
		</filter>
	</appender>

	<appender name="STDOUT" class="org.apache.log4j.ConsoleAppender">
		<param name="Target" value="System.out" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern"
				value="%d{ISO8601} [%F:%L] %-5p &lt;%m&gt; %n" />
		</layout>
		<filter class="org.apache.log4j.varia.LevelRangeFilter">
			<param name="LevelMin" value="DEBUG" />
			<param name="LevelMax" value="FATAL" />
		</filter>
	</appender>

	<!-- Must also set at least one appender to DEBUG output -->
	<category name="org.springframework">
		<priority value="FATAL"/>
		<appender-ref ref="STDOUT" />
	</category>

	<category name="net.sf.hibernate">
		<priority value="FATAL"/>
		<appender-ref ref="STDOUT" />
	</category>

	<category name="org.hibernate">
		<priority value="FATAL"/>
		<appender-ref ref="STDOUT" />
	</category>

	<category name="org.quartz">
		<priority value="FATAL"/>
		<appender-ref ref="STDOUT" />
	</category>
		
	<category name="org.apache">
		<priority value="FATAL"/>
		<appender-ref ref="STDOUT" />
	</category>	
	
	<category name="org.apache.http.wire">
		<priority value="FATAL"/>
		<appender-ref ref="STDOUT" />
	</category>	
	
	<!--                           -->
	<!-- setup log4j's root logger -->
	<!--                           -->
	<root>
		<level value="debug" />
		<appender-ref ref="STDOUT" />
	</root>
	
</log4j:configuration>
