<div style="padding-top:50px">
	<div class="row">
		<div id="competencyViewMessageContainer" class="small-6 columns small-centered" >
		</div>
	</div>
	<div class="row" >
		<div class="large-12 small-12 columns">
			<div class="row" style="margin-top:0px;padding-bottom:0px">
				<div class="large-12 columns large-centered" style="margin-bottom:0px">
					<a id="competencyViewSearchBtn" class="label" style="box-shadow:6px 0px 4px rgba(0,0,0,.4);cursor:pointer;">Search</a>
					<a id="competencyViewBtn" class="label" style="box-shadow:6px 0px 4px rgba(0,0,0,.4);cursor:pointer;">View</a>
		   		</div>
			</div>
		
			<div class="row callout" style="box-shadow:6px 0px 4px rgba(0,0,0,.4);margin-bottom:0px">
				<h3>
					<span class="competencyViewerName">Competency</span>
					<a class="float-right button" id="editCompetencyBtn">Edit</a>
					<br>
					<small><i id="competencyViewerDescription"></i></small>
				</h3>
				
				<small id="competencyViewerId"></small>
				
				<br>
				<div class="large-6 small-12 columns">
					<span>Enables</span>
					<ul id="competencyViewerRelationEnabling"></ul>
					
					<span>Related:</span>
					<ul id="competencyViewerRelationRelated"></ul>
					
					<span>Equivalent to:</span>
					<ul id="competencyViewerRelationEquivalent"></ul>
				</div>
				
				<div class="large-6 small-12 columns">
					<span>Requires:</span>
					<ul id="competencyViewerRelationRequires"></ul>
					
					<span>Desires:</span>
					<ul id="competencyViewerRelationDesires"></ul>
				</div>
				
				<div class="large-12 small-12 columns" id="competencyViewerLevels">
					<h3 id="competencyViewerLevel">Level</h3>
					
					<small id="competencyViewerLevelId"></small>
					
					<i id="competencyViewerDescription"></i><br>
					<i id="competencyViewerPerformance"></i>
					
					<div class="large-6 small-12 columns">
						<span>Equivalent to:</span>
						<ul id="competencyViewerLevelRelationEquivalent"></ul>
					</div>
					
					<div class="large-6 small-12 columns">
						<span>Overlaps:</span>
						<ul id="competencyViewerLevelRelationOverlaps"></ul>
					</div>
				</div>
			</div>
		</div>  
	</div>
</div>