<div style="padding-top:50px">
	<div class="row">
		<div id="repoCreateMessageContainer" class="small-6 columns small-centered">
		</div>
	</div>
	<div class="row">
		<div class="small-12 columns">
			<div class="row" style="margin-top:0px;padding-bottom:0px">
				<div class="large-12 columns large-centered" style="margin-bottom:0px">
					<span id="repoCreateSaveBtn" class="float-right label" style="box-shadow:6px 0px 4px rgba(0,0,0,.4);">Save</span>
	    		</div>
			</div>
			<div class="row callout" style="box-shadow:6px 0px 4px rgba(0,0,0,.4);margin-bottom:0px;">
				<div id="repoCreateData" class="dataRecepticle small-12 columns">
				</div>
			</div>
	    </div>
	</div>
</div>