/* 
COLORS: 
rgb(46,205,113) - green - Framework
rgb(92,173,226) blue - Competencies
rgb(233,76,60) red - Rollup rules
rgb(243,196,12) yellow - Levels
rgb(156,89,184) purple - Relations
*/

body
{
    background-color: rgb(242,242,242);
    color: rgb(68,84,106);
}

.topLevel
{
    margin-right:0em;
}

#status
{
    position: fixed;
     bottom: 0;
     right: 0;
    z-index: 100;
}

/* --- MENU --- */

.top-bar
{
    background-color: rgb(53,152,220);
    font-size: .75rem;
    padding-right:1em;
}

.top-bar .menu .menu-text
{
    color: white;
    background-color: rgb(53,152,220);
}

.top-bar .menu .menu-text:hover
{
    background-color: rgb(92,173,226);
}
.is-dropdown-submenu-parent.is-down-arrow > a::after
{
    border-color: #BCE6F3 transparent transparent;
}
.top-bar .menu .submenu 
{
    background-color: white;
}
.top-bar .menu .submenu a
{
    color: rgb(68,84,106);
}
.top-bar .menu .submenu a:hover
{
    background-color: #eee;
}

/* --- Accordians --- */

.accordion-title
{
    color: rgb(68,84,106);
    background-color: white;
    margin: 1px 0;
    padding: .6rem 1rem;
    font-size: 1rem;
}

.accordion-title[aria-selected=true]
{
    color: white;
    font-weight: bold;
}

.accordion-content
{
    background-color: rgb(242,242,242);
}

/* --- Common --- */

.cass-framework-url,.cass-competency-url
{
    display:block;
    white-space:nowrap;
    overflow:hidden;
    text-overflow: ellipsis;
}

/* --- Frameworks --- */

.accordion-title.cass-framework-name { border-left: 4px solid rgb(46,205,113); }
.cass-framework-name[aria-selected=true] { background-color: rgb(46,205,113); }
.cass-framework.is-active > .accordion-content { border-bottom: 2px solid rgb(46,205,113); }

.cass-framework-description {}
.cass-framework-actions {float:right}
.cass-framework-actions a {font-size:x-large;margin-left:5px;}

.framework {    
    padding-left: .2em; 
    padding-right: .5em; 
    background-color: white; 
    color:black;
    border-left: 6px solid rgb(46,205,113); 
    border-bottom: 1px solid rgb(230, 230, 230);
}
/* --- Competencies --- */

.accordion-title.cass-competency-name { border-left: 4px solid rgb(92,173,226); }
.cass-competency-name[aria-selected=true] { background-color: rgb(92,173,226); }
.cass-competency.is-active > .accordion-content { border-bottom: 2px solid rgb(92,173,226); }
.cass-competency-actions {float:right}
.cass-competency-actions a {font-size:x-large;margin-left:5px;}

.competency {    
    padding-left: .5em; 
    padding-right: .5em; 
    background-color: white; 
    color:black;
    border-left: 6px solid rgb(92,173,226); 
    border-bottom: 1px solid rgb(230, 230, 230);
}

.assertionCompetency {  
}

/* --- Relationships --- */
.cass-relation-actions {float:right}
.cass-relation-actions a {margin-left:5px;}

.cass-relation-type
{
    font-weight: bold;
    color: rgb(156,89,184);
}

.cass-relation-target,.cass-relation-source
{
    text-decoration: underline;
    cursor: pointer;
}

ul.cass-competency-relations {
    list-style: none;
    padding:0;
    margin:0;
}

li.cass-competency-relation { 
    padding-left: 1em; 
    text-indent: -.7em;
}

li.cass-competency-relation:before {
    content: "■ ";
    color: rgb(156,89,184); /* or whatever color you prefer */
}

/* --- Levels --- */

.assertionLevel {    
}

.cass-level-actions {float:right}
.cass-level-actions a {font-size:x-large;margin-left:5px;}

.cass-level-type
{
    font-weight: bold;
    color: rgb(243,196,12);
}

.cass-level-title
{
    text-decoration: underline;
}

ul.cass-competency-levels {
    list-style: none;
    padding:0;
    margin:0;
}

li.cass-competency-level { 
    padding-left: 1em; 
    text-indent: -.7em;
}

li.cass-competency-level:before {
    content: "■ ";
    color: rgb(243,196,12); /* or whatever color you prefer */
}

/* --- Evidence --- */

.assertionEvidence {    
}

.accordion-title.cass-provider-name { border-left: 4px solid black; }
.cass-provider-name[aria-selected=true] { background-color: black; }
.cass-provider.is-active > .accordion-content { border-bottom: 2px solid black; }
.accordion-title.cass-resource-name { border-left: 4px solid gray; }
.cass-resource-name[aria-selected=true] { background-color: gray; }
.cass-resource.is-active > .accordion-content { border-bottom: 2px solid gray; }

/* --- Contacts --- */

.contact:before,.contactStyle:before{
    content: "👤";
    font-size: x-large;
}
.assertionAgent:before,.assertionSubject:before{
}

.contact,.contactStyle{    
    padding-left: .2em; 
    padding-right: .5em; 
    background-color: white; 
    border-left: 6px solid maroon; 
    border-bottom: 1px solid rgb(230, 230, 230);
}
.resource,.resourceStyle{    
    padding-left: .5em; 
    padding-right: .5em; 
    background-color: white;
    color:black;
    border-left: 6px solid black; 
    border-bottom: 1px solid rgb(230, 230, 230);
}
.contact[aria-selected=true] { color:white; background-color: maroon; }

#contactsList{
    margin-left: 0px;
}

/* --- Timestamp --- */
.assertion {
    background-color:white;
    padding-top:1em;
    padding-left:2em;
    padding-right:2em;
    border: 1px solid lightgray;
}
.assertionTimestamp { 
}
.assertionConfidence,.assertionExpirationProgress{}
