body{
	background-color: grey;
}

.fake-a{
	color: #2199e8;
	cursor: pointer;
}

.fake-a:hover{
	color: #1585cf;
}

.fake-a-label:hover{
	   color: #1585cf;
}


.menu>li>div{
	padding: .7rem 1rem;
    line-height: 1;
}

.menu-icon:after{
	background: #2199e8;
	box-shadow: 0 7px 0 #2199e8, 0 14px 0 #2199e8;
}

.menu-icon:hover:after{
	background: #1585cf;
	box-shadow: 0 7px 0 #1585cf, 0 14px 0 #1585cf;
}

.messageContainer{
	text-align: center;
    font-size: small;
}

.messageContainer .close-button{
	font-size: 1rem;
}

.messageContainer.alert{
    color: #E04949;
}
.messageContainer.warning{
	color: #B19600;
}
.messageContainer [data-msg]{
	padding-right:20px;
}


.top-bar-title h1{
	font-size: 1.5rem;
	display: inline-block;
	
	position: relative;
	top: 5px;
}

#appMenuPublicLogin #appMenuPublicLoginMsg{
	display:none;
}
#appMenuPublicLogin:hover #appMenuPublicId{
	display:none;
}
#appMenuPublicLogin:hover #appMenuPublicLoginMsg{
	display:inline-block;
}

#appMenuIdentityList i{
	display:none;
	float:right;
}

#appMenuIdentityList .selected{
	color:#0B67A2;
}
#appMenuIdentityList .selected i{
	display:inline-block;
}






#datum [field]:hover p{
	background-color: rgba(173, 216, 230, 0.4);
}

#datum [field='dataObject']:hover{
	background-color: white;
}

#datum [field]:hover > div > .fieldBtn{
	display: inline-block;
}

#datum [field]> .fieldBtn{
	display:none;
}

#datum [field]:hover > .fieldBtn{
	display: inline-block;
}







.ownershipDisplay{
	position: relative;
}
.ownershipDisplay .qrcodeCanvas{
	display:none;
	position: absolute;
    bottom: 1rem;
    padding: 10px;
    background-color: white;
    border: 1px solid black;
    box-shadow: 6px 0px 4px rgba(0,0,0,.4)
}

.ownershipDisplay:hover .qrCodeCanvas{
	display:block;
}