@font-face {
    font-family: 'oswaldbold';
    src: url('../fonts/Oswald/oswald-bold.woff2') format('woff2'),
         url('../fonts/Oswald/oswald-bold.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
 
@font-face {
    font-family: 'oswaldextralight';
    src: url('../fonts/Oswald/oswald-extralight.woff2') format('woff2'),
         url('../fonts/Oswald/oswald-extralight.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'oswaldlight';
    src: url('../fonts/Oswald/oswald-light.woff2') format('woff2'),
         url('../fonts/Oswald/oswald-light.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'oswaldmedium';
    src: url('../fonts/Oswald/oswald-medium.woff2') format('woff2'),
         url('../fonts/Oswald/oswald-medium.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'oswaldregular';
    src: url('../fonts/Oswald/oswald-regular.woff2') format('woff2'),
         url('../fonts/Oswald/oswald-regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'oswaldsemibold';
    src: url('../fonts/Oswald/oswald-semibold.woff2') format('woff2'),
         url('../fonts/Oswald/oswald-semibold.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}


@font-face {
    font-family: 'assistantbold';
    src: url('../fonts/Assistant/assistant-bold.woff2') format('woff2'),
         url('../fonts/Assistant/assistant-bold.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'assistantextrabold';
    src: url('../fonts/Assistant/assistant-extrabold.woff2') format('woff2'),
         url('../fonts/Assistant/assistant-extrabold.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'assistantextralight';
    src: url('../fonts/Assistant/assistant-extralight.woff2') format('woff2'),
         url('../fonts/Assistant/assistant-extralight.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'assistantlight';
    src: url('../fonts/Assistant/assistant-light.woff2') format('woff2'),
         url('../fonts/Assistant/assistant-light.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'assistantregular';
    src: url('../fonts/Assistant/assistant-regular.woff2') format('woff2'),
         url('../fonts/Assistant/assistant-regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'assistantsemibold';
    src: url('../fonts/Assistant/assistant-semibold.woff2') format('woff2'),
         url('../fonts/Assistant/assistant-semibold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
html,
body {
    /* Dynamically resize for large screens */
    font-size: calc(12px + .25vw);
    /* Scale background to fit the screen */
    min-height: 100%;
    min-width: 100%;
  --main-body-font: 'assistantregular';
  --main-header-font: 'oswaldregular';
  	font-family: var(--main-body-font);


}

:root {
  --main-body-font: 'assistantregular';
  --main-header-font: 'oswaldregular';
  --main-blue-color: #166D91;
  --secondary-blue-color: #95BED2;
  --tertiary-blue-color: #0E4E67;
}

/* ---- UTILITY ---- */

h1, h2, h3, h4, h5 {
  font-family: 'oswaldregular';
}

h3 {
  font-size: 1.2375rem;
}

h4 {
 font-size: 1.2rem;
  font-weight: 600;
  color: #333;
}
tspan {
    pointer-events: none;
}

.reveal.smaller {
    width: 40%;
    max-width: 62.5rem;
}

.reveal {
    overflow-y: visible;
}

.sticky {
    z-index: 500;
}

.ui-autocomplete {
    z-index: 600;
}

ul.no-bullets {
    margin-left: 0;
}

ul.no-bullets li {
    list-style: none;
}

input:checked~.switch-paddle {
    background: #333;
}

.boldText {
    font-weight: bold;
}

.leftOffset25 {
    margin-left: 25px !important;
}

.topOffset2Rem {
    margin-top: 2rem;
}

#cassUiMainBusyContainer,
#cassUiMainErrorContainer {
    margin-top:5rem;
}

.cassUiError {
    font-size: 3rem;
    color: #F78D05;
}

.cassUiBusyImg {
    height: 4rem;
    width: auto;
}

#cassUiMainBusyText {
    font-size: 2rem;
    color: #137499;
}

.cassUiError {
    font-size: 3rem;
    color: #F78D05;
}

.cassUiModalErrorText,
.cassUiModalBusyText {
    font-size: .9rem;
}

.cassUiModalErrorText ul {
    margin:0;
}

.cassUiCallout {
    margin-top: 3rem;
}

.cassUiModalInput {
    width: 37rem;
    margin-left: 1.5rem;
}

.cassUiModalTextArea {
    height: 8rem;
    resize: none;
}

.cassUiModalInput.invalid {
    background-color: #F3CB7A;
    border-color: #EA6E07;
}

.fa-chevron-down,
.fa-chevron-right {
  font-size: .8rem;
  color: var(--main-blue-color);
}
.fa-circle {
  color: var(--main-blue-color);
  font-size: .6rem;
}
.fa-ul {
  margin-left: .6rem;
}
/* ---- BADGES ---- */

.cass-badge {
    font-size: smaller;
    text-align: center;
}

.cass-badge > span {
    display: block;
    margin-top: 8px;
}

.icon-degree {
    background: transparent url(../img/icon-degree.png) center no-repeat;
    background-size: contain;
}

/* ---- MENUS ---- */

#section-sub-menu {
    background-color: #ffffff;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .14), 0 3px 1px -2px rgba(0, 0, 0, .2), 0 1px 5px 0 rgba(0, 0, 0, .12);
}

#page-tools {
    float: right;
}

/* ---- LIST VIEW SCREEN ---- */

#filter-options {
    position: fixed;
    left: 2em;
    margin-top: 2em;
    padding: 1em;
    border: 1px solid #ddd;
    border-radius: 4px;
}

#filter-options li .fa {
    visibility: hidden;
}

#filter-options li.active .fa,
#filter-options li:hover .fa {
    visibility: visible;
}

#filter-options .active {
    font-weight: bold;
}

#filter-options .active a {
    cursor: default;
}

#list-screen__root > li > h3,
#list-screen__root > li > h4 {
    font-weight: bold;
}

#list-screen__root li li li h4 {
    font-size: 1.25rem;
}

#list-screen__root li > h3,
#list-screen__root li > h4 {
    margin: .5em 0 0 0;
}

#list-screen__root li.expanded > h3,
#list-screen__root li.collapsed > h3,
#list-screen__root li.expanded > h4,
#list-screen__root li.collapsed > h4 {
    cursor: pointer;
}

#list-screen__root li.expanded > h3:hover,
#list-screen__root li.collapsed > h3:hover,
#list-screen__root li.expanded > h4:hover,
#list-screen__root li.collapsed > h4:hover {
    color: #137499;
}

#list-screen__root p {
    margin: 0;
}

#list-screen__root .competency-type {
    float: right;
    color: #7c7c7c;
    text-transform: uppercase;
    font-size: .9em;
}

#list-screen__root .competency-type .fa {
    font-size: 1.4rem;
  vertical-align:text-bottom;
  color: #333;
}

/* ---- CIRCLE GRAPH SCREEN ---- */

#exp-circle-graph-wrapper {
    overflow: hidden;
    margin: 0 auto;
    padding-bottom: 100%;
    max-height: 300px;
}

#exp-circle-graph-wrapper svg {
    position: absolute;
    width: 95%;
    height: 90%;
}

#exp-circle-graph-wrapper .node.node--root {
    fill: transparent !important;
}

#explorerCirclePack {
    fill: transparent !important;
    background: white;
}

.expCircleGraph .node.invalid{
    stroke:#FFFFFF;
    stroke-width:2;
    stroke-dasharray: 4;
}

.expCircleGraph .node {
  cursor: pointer;
  filter:url(#drop-shadow);
}

.expCircleGraph .node:hover {
    filter: none;
}

#drop-shadow:hover {
    opacity:1 !important;
}

.expCircleGraph .node--leaf {
}

.expCircleGraph .label {
    fill: #fff;
    font-family: 'assistantregular';
    font-weight: 600;
    font-size: 13px;
    text-anchor: middle;
    paint-order: stroke;
    stroke: rgb(0, 0, 0);
    stroke-width: 1px;
    stroke-linecap: butt;
    stroke-linejoin: round;
}

.expCircleGraph .label-background {
    fill: #fff;
    font-size: .6rem;
    text-anchor: middle;
    paint-order: stroke;
    stroke: rgb(19, 116, 153);
    stroke-width: 1px;
    stroke-linecap: butt;
    stroke-linejoin: round;
}

.expCircleGraph .label,
.expCircleGraph .node--root,
.expCircleGraph .node--leaf {
    pointer-events: all;
}

.expCircleGraph circle {
    pointer-events: all;
}

/* ---- MISC ---- */

.trustNetworkPerc {
    color:#999;
}

.trustNetworkSldr {
    width:100%;
}

#asrSourceTrustListCtr {
    margin-bottom:1.2rem;
    max-height: 21rem;
    overflow-y: auto;
}

#asrSourceTrustList div {
    margin-right:0;
}

#asrSourceTrustList div.slider {
    margin-right:1rem;
}

#confDetailExplanationCtr {
    padding: .5rem .8rem 0;
    margin-bottom: 1rem;
    border: 1px #999 solid;
    border-radius: 10px;
    background-color:#eee;
}

.confDetailDesc {
    font-style: italic;
    color:#999;
}

.confDetailExp {
    font-style: italic;
    color:#000;
}

.confDetailListCtr {
    margin: 0px 15px 10px !important;
}

#confDetailConf,
.confDetailListHdr {
    font-weight: bold;
    color: #137499;
}

.confDetailListHdr {
    font-size:.9rem;
}

.confDetailListHdr ul {
    line-height:1.2rem;
}

.confDetailListItem {
    font-size:.8rem;
}

.asrHolds {
    color: #009933;
}

.asrNotHolds {
    color: #cc2900;
}

#profileUserSearchContainer {
    margin-top: 5%;
}

span.frameworkCategoryGraphSummaryName {
    font-weight: 600;
    font-size: 1.2rem !important;
}

.asrValdSource {
    font-weight: bold;
}

.asrValdComp {
    font-style: italic;
}

#asrValdResultsList,
#asrShareAssignPortfolioReadersList {
    margin: .5rem 0;
}

#asrValdResultsList {
    margin-left:1rem;
}

#asrValdResultsList .asrValdValid,
#asrValdResultsList .asrValdInValid {
    font-size:1.2rem;
}

.asrValdValid {
    color:#1C8801;
}

.asrValdInValid {
    color:#DB3838;
}

#asrValdResultsList li:hover {
    background-color: #DCF3FE;
}

#asrValdResultsList li:not(:last-child) {
    border-bottom: 1px solid #d9d9d9;
}

#asrValdResultsListContainer,
#asrShareAssignPortfolioListContainer,
#asrShareAssignPortfolioReadersListContainer {
    max-height: 300px;
    overflow-y: auto;
    margin: auto;
    margin-bottom: 1.5rem;
    width: 80%;
    background-color: #cceeff;
    border-color: #d9d9d9;
    border-style: solid;
    border-radius: 5px;
    border-width: 1px;
}

#asrValdResultsListContainer {
    width:95%;
}

#asrShareAssignPortfolioListContainer ul,
#asrShareAssignPortfolioReadersList ul {
    margin-bottom: 0;
}

#asrShareAssignPortfolioListContainer li label,
#asrShareAssignPortfolioReadersList li label {
    font-size: 1.15rem;
}

#asrShareAssignPortfolioListContainer li input[type=checkbox],
#asrShareAssignPortfolioReadersList li input[type=checkbox] {
    zoom: 1.2;
    margin: 0;
}

.portfolioContentsIcon {
    font-size: 1.2rem;
}

.portfolioAssertionContents {
    font-size: .8rem;
}

.portfolioAssertionContents ul li {
    list-style-type: circle;
}

.removeAlignmentComp {
    color: #BA0903;
}

.compRelAlignmentHdr,
.cirAsrSource,
.cdmAsrSource {
    cursor: pointer;
    display:block;
    font-size: 1rem;
    font-weight: 700;
    font-family: var(--main-body-font);
    color: #000000;
    line-height: 1.8em !important;
}

.cirAsrText {
  display: block !important;
  line-height:.9rem;
  margin-bottom: 8px;
}

.compRelAlignmentText,
.cirAsrText,
.cirAsrText a,
.cdmAsrText,
.cdmAsrText a {
    font-size: .9rem;
    font-weight: 700;
    color: var(--main-blue-color);
}

.cirAsrText .badge {
  margin-right:4px;
  height: width;
}
.evidIndToggle {
    font-size: .7rem !important;
    padding: 3px 4px;
    background-color: #0b445b !important;
    color: #ffffff !important;
    margin-bottom: .4rem;
  float:right;
}

.assertionShareIcon {
  font-size: 1.2rem !important;
  margin-right: 24px;
  color: var(--main-blue-color) !important;
  float:right;
}

.cirAsrEvDiv,
.cdmAsrEvDiv {
    margin-left: .4rem;
  display:block !important;
}

.cirAsrEvDiv a,
.cdmAsrEvDiv a {
    color: #116688;
  font-weight:500;
}
.cirAsrEvDiv .fa  {
  color: #707070;
  margin-right: 4px;
}

#compDetAsrContainer span {
    margin-left: 1rem;
}

#compDetAsrContainer span.label {
    margin-left: 0;
}

#compDetAsrContainer ul {
    margin-left: 2rem;
}

#evDetPrevContainer {
    text-align: center;
}

#pdfPreviewObj,
#htmlPreviewObj {
    height: 400px;
    width: 100%;
}

#imagePreviewObj {
    height: 200px;
    width: auto;
}

#profileHeader {
    color: #333;
}
#profileName {
  font-family: var(--main-header-font);
}

#profileHeader,
#circleFocusSummaryName {
    cursor: pointer;
}

#circleFocusDetailsSingleDesc {
    font-size: .95rem;
}


/*******************************

  right side bar 

*******************************/

.badge {
  font-weight: 600;
}

.competency-type .fa-info-circle {
  font-size: 1.6em;
  margin-top: 6px;
}

.competency-type .badge {
  vertical-align: text-bottom;
}
.competency-type a {
  margin: 2px;
}

.cirAsrSourceExpand {
  float: right;
  cursor: pointer;
  margin: 8px 8px 0px 0px;
}

#circleFocusDetailsSidebar,
#circleFocusSummarySidebar {
    margin-top: 1rem;
}

#circleFocusDetailsSidebar .cirAsrEvDiv a  {
  font-weight: 500;
}

#circleFocusDetailsSidebar .badge {
  vertical-align:middle
}
#circleFocusDetailsSidebar h3 {
  font-family: var(--main-header-font);
  color: #333;
}

#circleFocusDetailsSingleName h3 {
}
#circleFocusDetailsSidebar h2 {
  font-size: 1.5rem;
  font-weight: 600;
  font-family: var(--main-header-font);
}

#circleFocusSummarySidebar h3, .frameworkCategoryGraphSummaryName {
  font-family: var(--main-header-font);
  color: #333;
}

#circleFocusSummarySidebar {
    padding-left: 1.5rem;
}

#circleFocusDetailsAssertionListContainer {
  margin-left: 8px;
  margin-top: 12px;
  line-height: 1rem;
}

.expandSourceAssertions {
  
}

#circleFocusDetailsAssertionListContainer ul {
  list-style: none;
  margin-bottom: 0;
  margin-left: 8px;
  margin-top: 8px;
}

#circleFocusDetailsAssertionListContainer ul ul{
  margin-left: 24px;
  text-indent: -10px;
}


#circleFocusDetailsAssertionListContainer li fa {
  color: #707070;
}
#circleFocusSummarySidebar h3 {
    color: #333;
}

#circleFocusSummarySidebar h3,
#circleFocusSummarySidebar h2 {
    cursor: pointer;
}

#circleFocusCompDetailsLink i {
  font-size:1.2em;
  vertical-align: middle
}

#circleFocusSummaryListContainer {
    margin-top: 1em;
    max-height: 75%;
    overflow-y: auto;
}

#circleFocusSummaryListContainer ul {
 margin-left: .5rem !important;
}

#circleFocusRelatedFwListContainer {
    margin-left: .5em;
}

#circleFocusSummaryDesc {
    margin-bottom: .5rem;
}

#circleFocusCompTools {
    font-size: 1.2rem;
    text-align: right;
}

#circleFocusDetailsRelListContainer {
  margin-top: 1.5rem;
}

#circleFocusDetailsRelListContainer ul {
  margin-top: 1.5rem;
  margin-left: 1.5rem;
}

#circleFocusDetailsRelList a {
    color: black !important;
}

#circleFocusDetailsRelList a:hover {
    color: rgb(17,116,154); !important;
}

.highConf {
    color:white;
    background-color: #46a49e;
}

.midHighConf {
    color: white;
    background-color: #136d91;
}

.midConf {
    color: white;
    background-color: rgb(191, 184, 0);
}

.midLowConf {
    color: white;
    background-color:#e29e75;
}

.lowConf {
    color: white;
    background-color: #b36b79;
}

#compCredentialDegreeCertsContainer span {
    margin-bottom: 2rem;
}

.gpsi {
    color: var(--main-blue-color);
}

.gpsiRootComp {
    font-size: 1.05rem;
  font-weight: 600;
}

.gpsiNonRootComp {}

.gpsiChild {
    margin-left: .5rem;
    font-size: 1rem;
}
.psiItem {
    color: var(--main-blue-color);
}
.psiItem.active {
    font-weight: 500;
}


/****************************************

  modal style for assertion details 

*****************************************/
#modal-assertion-details {
  
}

#modal-assertion-details #asrDetEvList {
  margin-left: 1rem;
  list-style-type: none;
  text-indent: -6px;
}