@font-face {
    font-family: 'oswaldbold';
    src: url('../fonts/Oswald/oswald-bold.woff2') format('woff2'),
         url('../fonts/Oswald/oswald-bold.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'oswaldextralight';
    src: url('../fonts/Oswald/oswald-extralight.woff2') format('woff2'),
         url('../fonts/Oswald/oswald-extralight.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'oswaldlight';
    src: url('../fonts/Oswald/oswald-light.woff2') format('woff2'),
         url('../fonts/Oswald/oswald-light.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'oswaldmedium';
    src: url('../fonts/Oswald/oswald-medium.woff2') format('woff2'),
         url('../fonts/Oswald/oswald-medium.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'oswaldregular';
    src: url('../fonts/Oswald/oswald-regular.woff2') format('woff2'),
         url('../fonts/Oswald/oswald-regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'oswaldsemibold';
    src: url('../fonts/Oswald/oswald-semibold.woff2') format('woff2'),
         url('../fonts/Oswald/oswald-semibold.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}


@font-face {
    font-family: 'assistantbold';
    src: url('../fonts/Assistant/assistant-bold.woff2') format('woff2'),
         url('../fonts/Assistant/assistant-bold.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'assistantextrabold';
    src: url('../fonts/Assistant/assistant-extrabold.woff2') format('woff2'),
         url('../fonts/Assistant/assistant-extrabold.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'assistantextralight';
    src: url('../fonts/Assistant/assistant-extralight.woff2') format('woff2'),
         url('../fonts/Assistant/assistant-extralight.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'assistantlight';
    src: url('../fonts/Assistant/assistant-light.woff2') format('woff2'),
         url('../fonts/Assistant/assistant-light.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'assistantregular';
    src: url('../fonts/Assistant/assistant-regular.woff2') format('woff2'),
         url('../fonts/Assistant/assistant-regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'assistantsemibold';
    src: url('../fonts/Assistant/assistant-semibold.woff2') format('woff2'),
         url('../fonts/Assistant/assistant-semibold.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}


html,
body {
	/* Dynamically resize for large screens */
	font-size: calc(12px + .25vw);
	/* Scale background to fit the screen */
	min-height: 100%;
	min-width: 100%;
	--main-body-font: 'assistantregular';
	font-family: var(--main-body-font);
	--main-header-font: 'oswaldregular';
}

body {
	background-color: #333;
}

body.login {
	background-color: #137499;
	background: -moz-radial-gradient(center, ellipse cover, #137499 38%, #004c68 100%);
	background: -webkit-radial-gradient(center, ellipse cover, #137499 38%, #004c68 100%);
	background: radial-gradient(ellipse at center, #137499 38%, #004c68 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#137499', endColorstr='#004c68', GradientType=1);
}




.reveal {
	overflow-y: visible;
}

.sticky {
	z-index: 500;
}

.whiteImage {
	filter: brightness(0) invert(1);
}

#welcome-container {
	position: relative;
}

#welcome-header-introduction p {
	color: white;
	font-size: 16px;
	margin-top: 32px;
	margin-bottom: 32px;
}

#profile-card:hover,
#framework-card:hover,
#gap-card:hover,
#vlrc-card:hover,
#editor-card:hover,
#docs-card:hover,
#devdocs-card:hover,
#welcome-header-wrapper {
	background-color: rgba(255, 255, 255, 1);

}

#welcome-header-wrapper {
	background-color: rgba(255, 255, 255, 0.8);
	height: 25%;
	margin: 61px auto;
	height: 100px;
	border-radius: 10px;
	-webkit-filter: blur(1px);
	-moz-filter: blur(1px);
	-o-filter: blur(1px);
	-ms-filter: blur(1px);
	filter: blur(1px);
}

#welcome-header-wrapper h1 {
	line-height: 32px;
	color: #333;
	font-size: 64px;
}

.dblq {
	display: inline-block;
	width: 20%;
	line-height: 64px;
	padding: 12px;
}

.dbl3 {
	display: inline-block;
	width: 70%;
	vertical-align: middle;
	margin-left: 12px;
}

#welcome-container canvas,
#welcome-overlay {
	overflow: hidden;
}

canvas {
	min-height: 100%;
	background: #333;
	position: fixed;
}

#profile-card,
#framework-card,
#gap-card,
#vlrc-card,
#editor-card,
#docs-card,
#devdocs-card {
	background-color: rgba(255, 255, 255, 0.8);
	height: 320px;
	cursor: pointer;
	margin: 16px;

}

.i-wrapper {
	width: 40px;
	height: 40px;
	border-radius: 40px;
	display: block;
}

.blue {
	background-color: #12749A;
}

.maroon {
	background-color: #B36A79;
}

.teal {
	background-color: #4CC1BA;
}

.welcome-card-header-wrapper .fa-user-circle {
	display: block;
	font-size: 32px !important;
	margin: auto;
	color: white;
	text-align: center;
	line-height: 40px;
	margin-right: 1px;
}

span.icon-span {
	position: absolute;
	bottom: 16px;
	right: 16px;
}

.card-link-icon {
	color: orange;
	text-align: right;
	float: right;
	margin-bottom: 8px;
}

.welcome-card-header-wrapper .fa-sitemap {
	display: block;
	font-size: 26px !important;
	margin: auto;
	color: white;
	text-align: center;
	line-height: 40px;
	margin-left: 2px;
}

.welcome-card-header-wrapper .fa-book {
	display: block;
	font-size: 26px !important;
	margin: auto;
	color: white;
	text-align: center;
	line-height: 40px;
	margin-left: 2px;
}

.welcome-card-header-wrapper .fa-file-text-o {
	display: block;
	font-size: 26px !important;
	margin: auto;
	color: white;
	text-align: center;
	line-height: 40px;
	margin-left: 2px;
}

.welcome-card-header-wrapper .fa-pencil {
	display: block;
	font-size: 26px !important;
	margin: auto;
	color: white;
	text-align: center;
	line-height: 40px;
	margin-left: 2px;
}

.welcome-card-header-wrapper .fa-pie-chart {
	display: block;
	font-size: 26px !important;
	margin: auto;
	color: white;
	text-align: center;
	line-height: 40px;
	margin-left: 2px;
}

.welcome-card-header-wrapper h2 {
	display: inline;
	font-size: 1.2rem;
	font-family: var(--main-header-font);
	font-weight: 600;
}

.welcome-card-header-wrapper {
	height: 72px;
	background-color: grey;
}

.welcome-card-button-wrapper {
	height: 18%;
}

.welcome-card-button {
	background-color: #EBAD87;
	border-radius: 100px;
	text-align: center;
	color: white;
	font-weight: 600;
	height: 48px;
	width: 160px;
	margin: auto;
}

.welcome-card-button:hover {
	background-color: #EFC3A8;
}

.welcome-card-button:active {
	background-color: #EDA375;
}

.welcome-card-button p {
	line-height: 48px;
}

.welcome-header {
	margin: 32px;
	text-align: center !important;
	color: white;
	font-weight: 600;
}

.welcome-card-body {
	height: 64%;
	margin: 12px;
}

.welcome-card-body p {
	font-weight: 400 !important;
}

.welcome-card-body ul {
	margin: 8px 0px 8px 16px;
	line-height: 1.6;
	font-weight: 400;
}

li {
	list-style-type: none;
	font-weight: 600;
	font-size: .9rem;
}

.two-dp-shadow {
	filter: drop-shadow(0 2px 2px rgba(0, 0, 0, 0.12)) drop-shadow(0 3px 1px rgba(0, 0, 0, 0.14)) drop-shadow(0 1px 5px rgba(0, 0, 0, 0.12)) drop-shadow(0 -1px 2px rgba(0, 0, 0, 0.1));
}

.cassUiIframeContainer {
	height: calc(100vh - 61px);
}

.cassUiIframe {
	border: 0px;
	width: 100%;
	height: 100%;
}

/* ---- UTILITY ---- */

.cassUiError {
	font-size: 3rem;
	color: #F78D05;
}

.cassUiBusyImg {
	height: 7rem;
	width: auto;
}

/* ---- MENU ---- */

#main-menu .top-bar,
#main-menu .top-bar ul {
	background-color: #333;
	color: #eee;
}

#main-menu .top-bar a {
	color: #eee;
}

#main-menu .top-bar a::after {
	border-color: #999 transparent;
}

#section-sub-menu {
	background-color: #ddd;
}

#page-tools {
	float: right;
}

/* ---- LOGIN PAGE ---- */

#cassUiLoginContainer {
	margin-top: 5%;
	color: #fff;
}

#cassUiLoginContainer label {
	color: white;
}

.loginHeaderImg {
	height: 1em;
	vertical-align: baseline;
}

#cassUiLoginBtn {
	margin-top: 1.75em;
}

/* ---- HOME PAGE ---- */

.cassHomeLogo {
	background-color: #137499;
	background: -moz-radial-gradient(center, ellipse cover, #137499 38%, #004c68 100%);
	background: -webkit-radial-gradient(center, ellipse cover, #137499 38%, #004c68 100%);
	background: radial-gradient(ellipse at center, #137499 38%, #004c68 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#137499', endColorstr='#004c68', GradientType=1);
	padding: 1.5rem;
}

.cassHomeIntro {
	color: #4B4B4B;
	margin-top: 1rem;
	margin-left: 2rem;
}

.cassHomeNav {
	margin-top: 3rem;
}

.cassHomeNavBtn {
	width: 17rem;
}


@media screen and (max-width: 639px) {
	canvas {
		max-width: 100%;
	}
	#welcome-header-wrapper {
		margin: 16px auto;
	}
	#welcome-header-introduction p {
		margin: 8px;
	}
	#profile-card,
	#framework-card,
	#gap-card,
	#vlrc-card {
		height: auto;
		margin: 8px auto 8px auto;
		padding: 0px;
	}

	.welcome-card-header-wrapper {
		height: auto;
	}
	.welcome-card-body {
		height: auto;
	}
	.i-wrapper {
		margin: auto;
	}
}
