<div>
    <div class="row" style="min-height: 50px;margin-top: 20px;">
        <div id="alignmentEditorMessageContainer" class="small-6 columns small-centered"></div>
    </div>
    <div class="row" id="alignmentEditorColumnsContainer">
    	<div>
    		<div class="columns small-12">
    			<div class="row">
		        	<div id="alignmentEditorControls" style="text-align:center;  border-top: 1px solid lightgrey;"></div>
		        </div>
		        
		        <div class="row" id="alignmentEditorColumns" style="height:600px; margin-bottom:10px;">
			        <canvas id="canvas" style="position:absolute;z-index:-1;"></canvas>
			    </div>
		    </div>
	    </div>
    </div>
    
    <div class="row column">&nbsp;</div>
</div>
