<div style="padding-top:1em">
    <div class="row">
        <div id="assertionSearchMessageContainer" class="small-6 columns small-centered">
        </div>
    </div>
    <div class="row">
    	<div class="small-12 columns">
    		<div id="assertionSearchResults" class="row column callout dataViewResults">
			</div>
			
			<div id="moreSearchResults" class="hide" style="height:2em; margin-top:2em; text-align:center;">
       			<hr/>
       			<i id="loadingMoreResults" class="fa fa-spin fa-spinner hide"></i>
       			<button id="getMoreResults" class="tiny button hollow float-center" style="padding-left: 20px; padding-right: 20px;">
       				More Results
       			</button>
       		</div>
    	</div>
	</div>
</div>
