<div style="padding-top: 50px">
    <div class="row">
        <div id="competencyViewMessageContainer" class="small-6 columns small-centered"></div>
    </div>
    <div class="row">
        <div class="large-12 small-12 columns">
            <div class="row" style="margin-top: 0px; padding-bottom: 0px">
                <div class="large-12 columns large-centered" style="margin-bottom: 0px">
                    <a id="competencyViewSearchBtn" class="label" style="box-shadow: 6px 0px 4px rgba(0, 0, 0, .4); cursor: pointer;">Search</a>
                    <span id="competencyViewDeleteBtn" class="float-right label alert" style="box-shadow: 6px 0px 4px rgba(0, 0, 0, .4); cursor: pointer;">Delete</span>
                </div>
            </div>
            <div class="row callout" style="box-shadow: 6px 0px 4px rgba(0, 0, 0, .4); margin-bottom: 0px">
                <div ec-container="competency" class="small-12 columns">
                    <div ec-container="competency" ec-attr-id class="row">
                        <div class="small-12 columns">
                            <h3>
                            	<a style="margin-left: 1rem;" class="float-right button" id="addToFrameworkBtn">Add To Framework</a>
								<a class="float-right button" id="editCompetencyBtn">Edit</a> 
                            
								<i class="fa fa-unlock-alt hide" id="competencyViewerPrivateSymbol"></i> 
								<span ec-field="name" class="competencyViewerName">Competency</span> 
								
								
								<br>
								<small style="font-size: 45%"><i ec-field="id" id="competencyViewerId"></i></small>
							</h3>
                        </div>
                    </div>
                    <div class="row">
                        <div class="small-12 columns">
                            <p ec-field="description" id="competencyViewerDescription" style="padding-left: 1rem;"></p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="large-12 small-12 columns" id="competencyViewerLevels">
                            <div id="competencyViewerLevelList"> 
                                <span class="prefix">Levels: </span>
                                <ul style='list-style: none;' ec-container="level">
                                    <li ec-template="level" ec-attr-id class='level' style='font-weight: normal;'>
                                        <span ec-field="name"></span>
                                        <i ec-field="title"></i>
                                        <small style="display:block;" ec-field="description"></small>
                                        <span style="display:block;" ec-field="performance"></span>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div> 
                    <div class="row">
                        <div class="small-12 columns">
                            <span class="prefix">Relations:</span> 
                            <ul class="dropdown menu" style="display:inline-block; font-size:0.75rem;" data-dropdown-menu>
                            	<li>
                            		<span class="fake-a" style="line-height: 0.9;">
                            			(Create)
                            		</span>
                            		<ul class="menu">
      									<li><a id="createSourceRelation">as Relation Source</a></li>
      									<li><a id="createTargetRelation">as Relation Target</a></li>
    								</ul>
                            	</li>
                            </ul>
                            <ul ec-container="relation" ec-attr-shortId ec-condition-shortId-source ec-condition-shortId-target ec-attr-id ec-condition-id-source ec-condition-id-target class='competencyRelations' style='list-style: none;'>
                                <li ec-template="relation" class='relation' ec-attr-id="">
                                	<small>  
                                		<strong ec-reference="source" ec-field="name" ec-attr-id> </strong> 
                                		<i class='relationType' ec-field="relationType"></i> 
                                		<strong ec-reference="target" ec-field="name" ec-attr-id> </strong>
                                		<span class="relationViewLink label" style="margin-left: 1rem; cursor:pointer;">View</span>
									</small>
								</li>
                            </ul>
                        </div>
                    </div>
                    <div class="row">
                        <div class="large-12 small-12 columns" id="competencyViewerRollupRules">
                            <div id="competencyViewerRollupRuleList">
                                <span class="prefix">Rollup Rules: </span>
                                <ul style='list-style: none;' ec-container="rollupRule" ec-condition-shortId-competency ec-condition-id-competency>
                                    <li ec-template="rollupRule" ec-attr-shortId ec-attr-id class='rollupRule' style='font-weight: normal;'>
                                        <h5 style="margin-bottom:0;" ec-field="name"></h5>
                                        <small style="display: block;" ec-field="description"></small>
                                        <i style="display: block;">states</i>
                                        <span style="display: block;"> 
                                        <a ec-reference="competency" ec-field="name" ec-attr-id></a> <i>depends on</i>
                                        <span ec-field="rule"></span>
                                        </span>
                                        <p>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="small-12 columns">
                            <span class="prefix">Ownership: </span> <span id="competencyViewOwner">Public</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
