<div style="padding-top: 10px">
    <div class="row">
        <div id="frameworkViewMessageContainer" class="small-6 columns small-centered"></div>
    </div>
    <div class="row">
        <div class="large-12 small-12 columns">
            <div class="row" style="margin-top: 0px; padding-bottom: 0px">
                <div class="large-12 columns large-centered" style="margin-bottom: 0px">
                    <a id="frameworkViewSearchBtn" class="label" style="box-shadow: 6px 0px 4px rgba(0, 0, 0, .4); cursor: pointer;">Search</a>
                    <span id="frameworkViewDeleteBtn" class="float-right label alert" style="box-shadow: 6px 0px 4px rgba(0, 0, 0, .4); cursor: pointer;">Delete</span>
                </div>
            </div>
            
            <div ec-container="framework" class="row callout" style="box-shadow: 6px 0px 4px rgba(0, 0, 0, .4); margin-bottom: 0px">
                <div ec-template="framework" class="small-12 columns">
                    
                    <div class="row">
                        <div class="small-12 columns">
                            <h3>
								<a class="float-right button" id="editFrameworkBtn">Edit</a>
								
								<i class="fa fa-unlock-alt hide" id="frameworkViewerPrivateSymbol"></i> 
								<span id="frameworkViewerName" ec-field="name"></span> 
								<br>
								<small style="font-size: 45%"><i id="frameworkViewerId" ec-field="id"></i></small>
							</h3>
                        </div>
                    </div>
                    
                    <div class="row">
                        <div class="small-12 columns">
                            <p id="frameworkViewerDescription" style="padding-left: 1rem;" ec-field="description"></p>
                        </div>
                    </div>
                    
                    <canvas class="hide" id="frameworkViewCanvas" width="1280" height="700"></canvas>
                    
                    <div class="row hide" id="frameworkViewerContents">
                        <div class="small-12 columns">
                            <span class="prefix">Competencies: </span>
                            
                            <p id="frameworkLoading" class="hide"> Loading ... </p>
                            
                            <div id="frameworkContentsList">
                            
                            </div>
                        </div>
                    </div>
                    
                    <div class="row columns" id="frameworkEmpty">
                    	<p>This Framework has nothing in it yet...
                    	
                    	</p>
                    </div>
                    
                    <div class="row">
                        <div class="small-12 columns">
                            <span class="prefix">Ownership: </span> <span id="frameworkViewOwner">Public</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
