<div style="padding-top:50px">
	<div class="row">
		<div id="relationshipViewMessageContainer" class="small-6 columns small-centered" >
		</div>
	</div>
	<div class="row" >
		<div class="large-12 small-12 columns">
			<div class="row" style="margin-top:0px;padding-bottom:0px">
				<div class="large-12 columns large-centered" style="margin-bottom:0px">
					<a id="relationshipViewSearchBtn" class="label" style="box-shadow:6px 0px 4px rgba(0,0,0,.4);cursor:pointer;">Search</a>
					
					<span id="relationshipViewDeleteBtn" class="float-right label alert" style="box-shadow:6px 0px 4px rgba(0,0,0,.4);cursor:pointer;">Delete</span>
		   		</div>
			</div>
		
			<div class="row callout" style="box-shadow:6px 0px 4px rgba(0,0,0,.4);margin-bottom:0px">
				<div class="small-12 columns">
					<div class="row">
						<div class="small-12 columns">
							<h3>
								<i class="fa fa-unlock-alt hide" id="relationshipViewerPrivateSymbol"></i>
								<span class="relationshipViewerName">Relationship</span>
								<a class="float-right button" id="editRelationshipBtn">Edit</a>
								<br>
								<small style="font-size:45%"><i id="relationshipViewerId"></i></small>
							</h3>
						</div>
					</div>
					
					<div class="row">
						<div class="small-12 columns">
							<p id="relationshipViewerDescription" style="padding-left:1rem;"></p>
						</div>
					</div>
					
					<div class="row">
						<div class="small-12 columns">
							<p style="padding-left:1rem;">
								<span id="relationshipViewerSource"></span> 
								<span id="relationshipViewerType"></span>
								<span id="relationshipViewerTarget"></span>
							</p>
						</div>
					</div>
					
					<div class="row">
						<div class="small-12 columns">
							<span class="prefix">Ownership: </span>
							<span id="relationshipViewerOwner">Public</span>
						</div>
					</div>
				</div>
			</div>
		</div>  
	</div>
</div>