<div style="padding-top:1em; padding-bottom: 1em;">
	<div class="row">
		<div id="repoSearchMessageContainer" class="small-6 columns small-centered" >
			
		</div>
	</div>
	<div class="row">
		<div class="small-12 columns">
			<div class="row column" style="margin-top:0px;padding-bottom:0px">
                <div class="small-12 medium-3 columns">
                    <input id="repoSearchOwnership" type="range" min="1" max="3" step="1" style="width:100%;" value="2" />

                    <div id="repoSearchOwnershipLoggedIn" class="hide" style="position: relative;">
                        <small style="position:absolute">Public</small>
                        <small style="position:absolute;left:31%">All</small>
                        <small style="position:absolute;right:26%">Owned</small>
                        <small style="position:absolute;right:0%">By Me</small>
                    </div>

                    <div id="repoSearchOwnershipPublic" style="position: relative; height: 2rem;">
                        <small class="float-right">Owned</small>
                        <small class="float-left">Public</small>
                        <small class="float-center" style="width:25px; text-align:center;">All</small>
                    </div>
                </div>
                <div class="small-12 medium-3 columns" style="margin-top:0.3rem;">
                	<div class="row">
                		<div class="small-12 medium-4 columns">
                			<h5 style="margin-top:0.3rem;">Type(s):</h5>
                		</div>
                		<div class="small-12 medium-8 columns" style="position:relative;">
							<div id="repoSearchTypesDisplay" class="float-left" data-toggle="repoSearchTypes">
		     					<span id="repoSearchTypesText">
		     						All
		     					</span>
		     					<i class="fa fa-caret-down float-right"></i>
		     				</div>
		           					
		       				<ul id="repoSearchTypes" class="dropdown-pane bottom" data-dropdown data-hover="true" data-hover-pane="true">
		       					<li><label style="margin-left:20px;">
		        					<span class="fake-a" id="repoSearchSelectAllToggle">Deselect All</span>
		        				</label></li>
		       				</ul>
		                </div>
                	</div>
                </div>
                <div class="small-11 medium-5 columns" style="margin-bottom:0px">
                    <input id="repoSearchText" type="search" placeholder="Search Repository...">
                </div>
                <div class="small-1 columns" style="margin-bottom:0px">
                    <button id="repoSearchBtn" class="button">Search</button>
                </div>
            </div>
            
            <div id="repoSearchResults" class="row column callout dataViewResults">
            
            </div>
            
            <div id="moreSearchResults" class="hide" style="height:2em; margin-top:2em; text-align:center;">
       			<hr/>
       			<i id="loadingMoreResults" class="fa fa-spin fa-spinner hide"></i>
       			<button id="getMoreResults" class="tiny button hollow float-center" style="padding-left: 20px; padding-right: 20px;">
       				More Results
       			</button>
       		</div>
       		
       		<div id="loadingMoreResults" style="margin-top:20px;">
       		<i class="float-center fa fa-lg fa-circle-o-notch fa-spin hide" ></i>
       		</div>
		</div>
	</div>
</div>