<div style="padding-top:50px">
	<div class="row">
		<div id="repoViewMessageContainer" class="small-6 columns small-centered" >
		
		</div>
	</div>
	<div class="row" >
		<div class="small-12 columns">
	    	<div class="row" style="margin-top:0px;padding-bottom:0px">
				<div class="large-12 columns large-centered" style="margin-bottom:0px">
					<a id="repoViewSearchBtn" class="label" style="box-shadow:6px 0px 4px rgba(0,0,0,.4);cursor:pointer;">Search</a>
					<a id="repoViewBtn" class="label" style="box-shadow:6px 0px 4px rgba(0,0,0,.4);cursor:pointer;">Edit/View</a>
					
					<span id="repoViewSaveBtn" class="float-right label fake-a" style="box-shadow:6px 0px 4px rgba(0,0,0,.4);cursor:pointer;margin-top:0.2rem;color:white;">Save</span>
					<span id="repoViewDeleteBtn" class="float-right label alert" style="box-shadow:6px 0px 4px rgba(0,0,0,.4);cursor:pointer;margin-top:0.2rem;margin-right:0.3rem;">Delete</span>
	    		</div>
			</div>
			<div class="row callout" style="box-shadow:6px 0px 4px rgba(0,0,0,.4);margin-bottom:0px;">
				<div id="repoViewResult" class="dataRecepticle columns small-12"></div>
			</div>
	    </div>
	</div>
</div>