<div style="padding-top:50px">
	<div class="row">
		<div class="small-6 columns small-centered" >
			<div id="identityError" class="messageContainer small callout hide" data-closable>
				<button class="close-button" type="button" data-close>
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="large-6 columns">
			<div class="row callout" style="box-shadow:6px 0px 4px rgba(0,0,0,.4);margin-bottom:20px">
				<div class="small-12 columns">
					<h3 style="margin-bottom:0px;">Identity Server</h3>
					<span id="identityServerName"></span>
					(<span id="identityServerUrl"></span>)
				</div>
			</div>
			<div class="row callout radius" style="box-shadow:6px 0px 4px rgba(0,0,0,.4);margin-bottom:20px">
				<div class="small-12 columns">
					<h3 title="Each Alias contains an Encryption Key" style="margin-bottom:0px;"> Aliases </h3>
					<p style="color:grey;">These will be cleared upon every page refresh.</p>
					
					<p id="identityKeys">None found.</p>
					
					<button id="openSaveModal" class="button float-center">Save Credentials</button>
				</div>
			</div>
		</div>
		<div class="large-5 columns">
			<div class="row callout radius" style="box-shadow:6px 0px 4px rgba(0,0,0,.4);margin-bottom:20px">
				<div class="small-12 columns">
					<h3 style="margin-bottom:0px;">Import Aliases</h3>
					
					<p style="color:grey;">
						Importing an alias will also import its key.
						<br>
						Select one or more aliases to import.
					</p>
					
					<input id="addKeyPpk" multiple type="file" accept=".pem" placeholder="Private Key">
	
					
					<button id="importIdentity" class="button float-right">Import</button>
				</div>
			</div>
			<div class="row callout radius" style="box-shadow:6px 0px 4px rgba(0,0,0,.4);margin-bottom:20px">
				<div class="small-12 columns">
					<h3 style="margin-bottom:0px;">Generate an Alias</h3>
					
					<p style="color:grey;">
						This may take a couple seconds.
						<br>
						We will download the alias to your computer.
					</p>                  
					
					<input id="generateIdentityName" type="text" placeholder="Alias Name"/>
					<button id="generateIdentity" class="button float-right">Generate</button>
				</div>
			</div>
		</div>
	</div>
</div>