<div style="padding-top:50px">
    <div class="row">
       <div id="userIdentityMessageContainer" class="small-6 columns small-centered">
        </div>
    </div>

    <div class="row">
        <div class="small-12 columns">
            <div class="row callout" style="box-shadow:6px 0px 4px rgba(0,0,0,.4);margin-bottom:20px">
                <div class="small-12 medium-7 columns">
                    <h3 style="margin-bottom:0px;">
						Identity Server
					</h3>
                    <span id="identityServerName"></span> (
                    <span id="identityServerUrl" style="font-style:italic;"></span> 
                    )
                </div>

                <div class="small-12 medium-5 columns">
                    <button id="openSaveModal" style="margin-top:0.75rem;" class="button float-center">Save Identities and Contacts to Server</button>
                </div>
            </div>
        </div>

    </div>

    <div class="row">
        <div class="large-6 columns">

            <div class="row callout radius" style="box-shadow:6px 0px 4px rgba(0,0,0,.4);margin-bottom:20px">
                <div class="small-12 columns">
                    <h3 title="Each Identity contains an Encryption Key" style="margin-bottom:0px;"> Identities </h3>
                    <p style="color:grey;">These will be cleared upon every page refresh.</p>

                    <p id="identityKeys"></p>
                </div>
            </div>

            <div class="row callout radius" style="box-shadow:6px 0px 4px rgba(0,0,0,.4);margin-bottom:20px">
                <div class="small-12 columns">
                    <h3 style="margin-bottom:0px;">Add Identity</h3>

                    <div style="text-align:center;">
                        <button class="button" id="importIdentity" style="margin-right:1rem;">Import</button>
                        <button class="button" id="startGenerateIdentity">Generate</button>
                    </div>

                    <div id="importContainer" class="hide">
                        <p style="color:grey;">
                            Importing an identity will also import its key.
                            <br> Select one or more identities to import.
                        </p>

                        <input id="addKeyPpk" multiple type="file" accept=".pem" placeholder="Private Key">


                        <button id="createImportIdentity" class="button float-right">Import</button>
                    </div>

                    <div id="generateContainer" class="hide">
                        <p style="color:grey;">
                            This may take a couple seconds.
                            <br> We will download the identity to your computer.
                        </p>

                        <input id="generateIdentityName" type="text" placeholder="Identity Name" />
                        <button id="generateIdentity" class="button float-right">Generate</button>
                        <span class="float-right hide" id="generateInProgress"><i class="fa fa-spin fa-spinner"></i> Generating...</span>
                    </div>
                </div>
            </div>
        </div>

        <div class="large-5 columns">
            <div class="row callout radius" style="box-shadow:6px 0px 4px rgba(0,0,0,.4);margin-bottom:20px">
                <div class="small-12 columns">
                    <h3 style="margin-bottom:0px;">Contacts</h3>

                    <p style="color:grey;">
                        Other users and systems who have shared their information with you.
                    </p>

                    <p id="contactList"></p>
                </div>
            </div>

            <div class="row callout radius" style="box-shadow:6px 0px 4px rgba(0,0,0,.4);margin-bottom:20px">
                <div class="small-12 columns">
                    
                    <div>
	                    <h3 style="margin-bottom:0px;">Generate Contact Invitation</h3>
	
	                    <p style="color:grey;">
	                        Share with other users so they can view your information.
	                    </p>
	
	                    <input id="shareContactName" type="text" placeholder="Shared Identity Name" />
	
	                    <select id="shareContactIdentity">
	                        <option selected disabled class="hide">Select Identity to Share</option>
	                    </select>
	
						<span id="invitationContainerHeader" class="prefix hide">Invitation:</span>
						
						<div id="invitationContainer" style="border: 1px solid grey; padding: 4px; margin-bottom: 1rem; cursor:copy;" class="hide">
							<div id="invitationBox" style="margin-bottom:1rem; cursor:text; margin-left:0.5rem;" contenteditable="true">
							</div>
							<div id="linkBox" style="margin-bottom:0px;overflow-x:scroll; padding-left:0.5rem;"></div>
						</div>
					</div>
					
					<div id="invitationMessageContainer" class="float-left"></div>
					
					<button id="generateInvitation" class="button float-right">Generate</button>
		                    
                    <button id="copyInvitation" class="button float-right hide" style="margin-right: 1rem;">
                    	<span id="copied" style="display:none;">Copied</span>
                    	<span id="copy" style="padding: 0rem 0.4rem;">Copy</span>
                    </button>
					
                    
                </div>
            </div>
        </div>
    </div>
</div>
