<div class="row">
	<div id="landing" class="large-3 small-12 columns">
		<p>
			Status:
			<br><h3 class="loggedIn"></h3>
		</p>
		<p id="landingActions">
			<button class="button" id="loginOauth2Google">Login Globally with Google</button><br>
			<button class="button" id="frontPageLogin" class="appMenuLogin">Login Locally</button><br>
			<button class="button" id="gotoProfiles" class="gotoProfiles">Learner Profiles</button><br>
			<button class="button" id="gotoEditing" class="gotoEditing">Framework Editing</button><br>
			<button class="button" id="gotoAlignment" class="gotoAlignment">Alignments and Crosswalks</button>
		</p>
	</div>
	<div class="large-9 small-12 columns">
		<h3><span class="appName"></span></h3>
		<span class="appDescription"></span>
	</div>
</div>
<div class="row">
	<div id="profiles" class="large-3 small-12 columns">
		<p>
			Select Profile:
			<br><select id="selectedProfile"></select>
		</p>
		<p id="profileActions">
			<button class="button" id="viewFrameworks">Timeline</button><br>
			<button class="button" disabled id="createFramework">Gradebook</button><br>
			<button class="button" disabled id="importFramework">By Framework</button>
		</p>
	</div>

	<div class="large-9 small-12 columns">
		<h3>Profile Management</h3>
	</div>

</div>