<div class="alignmentEditorColumn">
	<center class="alignmentEditorColumnSelectCollapsed"><i class='fa fa-caret-down'></i> Navigation</center>
	<div class="alignmentEditorColumnSelects">
		<select class="alignmentEditorCategory">
			<option disabled selected value> -- Select Category -- </option>
			<option value="badge">Badge</option>
			<option value="course">Course</option>
			<option value="competency">Competency</option>
			<option value="credential">Credential</option>
			<option value="resource">Resource</option>
		</select>
		<select class="alignmentEditorSource" style="display:none;">

		</select>
		<select class="alignmentEditorCollection" style="display:none;">

		</select>
	</div>
	<input class="columnFilter hide" type="text" placeholder="Filter Results...">
	<div class="loadingRow" style="text-align:center;padding:7px 2px;font-style:italic;display:none"><div class=" fa fa-spinner fa-spin"></div> Loading...</div>
	<ul class="alignmentEditorContainer" ec-container="" style="display:none;">
		<li class="alignmentEditorElement" ec-template="">
			<span class="" ec-field="name"></span>
			<ul></ul>
		</li>
	</ul>
</div>