<div id="alertbox" class="messageContainer small callout alert hide" >
	<button class="close-button" type="button" >
		<span aria-hidden="true">&times;</span>
	</button>
	<div id="alertboxMessages">
	</div>
</div>
<div id="warningbox" class="messageContainer small callout warning hide" >
	<button class="close-button" type="button" >
		<span aria-hidden="true">&times;</span>
	</button>
	<div id="warningboxMessages">
	</div>
</div>
<div id="successbox" class="messageContainer small callout success hide" >
	<button class="close-button" type="button" >
		<span aria-hidden="true">&times;</span>
	</button>
	<div id="successboxMessages">
	</div>
</div>
<div id="primarybox" class="messageContainer small callout primary hide">
	<button class="close-button" type="button">
		<span aria-hidden="true">&times;</span>
	</button>
	<div id="primaryboxMessages">
	</div>
</div>
<div id="secondarybox" class="messageContainer small callout secondary hide" >
	<button class="close-button" type="button" >
		<span aria-hidden="true">&times;</span>
	</button>
	<div id="secondaryboxMessages">
	</div>
</div>