<div class="row">
	<div class="small-10 small-centered columns">
		<div id="addFieldMessageContainer"></div>
	</div>
</div>

<div class="row column">
	<h3>New Field</h3>
</div>



<div class="row">
	<div class="small-10 columns small-centered">
		<span class="prefix objectProperties">Name:</span><br>
		<button id="addFieldModalNameSelect" class="objectProperties button float-right hide">...</button>
		<input id="addFieldModalName" class="objectProperties" type="text" placeholder="Field Name"/>
		
		<span class="prefix">Type:</span><br>
		<button id="addFieldModalText" class="button" style="margin-left:0.5rem;">Text</button>
		<button id="addFieldModalArray" class="button">Array</button>
		<button id="addFieldModalJsonLd" class="button">JSON-LD Object</button>
	</div>
</div>

<div class="row hide" id="typeSelectRow">
	<div class="small-9 columns small-centered">
		<span class="prefix">Object Type:</span><br>
		<div class="row">
			<div class="small-9 columns">
				<select></select>
			</div>
			<div class="small-3 columns">
				<button class="button" id="addBtn">Add</button>
			</div>
		</div>
	</div>
</div>

<div class="row column">
	<button id="addFieldModalCancel" class="button secondary float-right">Cancel</button>	
</div>