<div class="row column">
	<h3>New Field</h3>
</div>

<div class="row column">
	<span class="objectProperties">My new field:</span><br>
	<button id="addFieldModalNameSelect" class="objectProperties button float-right hide">...</button>
	<input id="addFieldModalName" class="objectProperties" type="text" placeholder="Field Name"/>
</div>

<div class="row column">
	Is a(n):
	<br>

	<button id="addFieldModalText" class="button">Text</button>
	<button id="addFieldModalArray" class="button">Array</button>
	<button id="addFieldModalObject" class="button">Object</button>
	<button id="addFieldModalDecal" class="button">Decal</button>
	
	<button id="addFieldModalCancel" class="button secondary float-right">Cancel</button>
</div>
	