<div class="row">
	<div class="small-10 small-centered columns">
		<div id="addOwnerMessageContainer"></div>
	</div>
</div>

<div class="row column">
	<h3>Add Owner</h3>
	
	<p>Who would you like to add as a co-owner of the object?</p>
</div>



<div class="row">
	<div class="small-9 columns small-centered">
		<span class="prefix">Choose a Contact or Identity:</span><br/>
		<div class="row" style="margin-bottom:2rem;">
			<div class="small-10 columns small-centered" id="contactDisplay">
			test
			</div>
		</div>
	</div>
</div>

<div class="row" id="typeSelectRow">
	<div class="small-9 columns small-centered">
		<span class="prefix">Or paste a public key:</span><br/>
		<div class="row">
			<div class="small-10 columns small-centered">
				<textarea id="ownerKeyPaste"></textarea>
			</div>
		</div>
	</div>
</div>

<div class="row column">
	<button id="addOwnerSubmit" class="button float-right" style="margin-left:1rem;">Submit</button>	
	<button id="addOwnerModalCancel" class="button secondary float-right">Cancel</button>	
</div>