<button class="close-button" data-close aria-label="Close modal" type="button">
	<span aria-hidden="true">&times;</span>
</button>
<h3 class="row small-12 columns">
	Add to Framework
</h3>
<div class="row">
	<div class="small-10 small-centered columns">
		<div id="addToFrameworkMessageContainer"></div>
	</div>
</div>

<div class="row">
	<div class="small-12 columns" style="margin-bottom: 0.5rem;">
		Select a Framework that you would like to add <span id="dataDescription"></span> to.
	</div>
</div>

<div class="row">
	<div class="small-12 columns">
		<select id="addToFrameworkList">
	    </select>
	</div>
</div>

<div class="row">
	<div class="small-12 columns">
		<button id="addToFrameworkSave" class="button float-right">Add</button>
		<button id="addToFrameworkCancel" class="button secondary float-right" style="margin-right:1rem;">Cancel</button>
	</div>
</div>    