<div class="row">
	<div class="small-12 columns">
		<h3>Change Type</h3>
	</div>
</div>

<div class="row">
	<div class="small-10 small-centered columns">
		<div id="changeTypeMessageContainer"></div>
	</div>
</div>

<div class="row column">
	<div class="small-12 columns">
		New Type:
		<select id="changeTypeSelect">
			<option value="other">Other</option>
		</select>
		
		<div id="changeTypeOtherContainer" class="hide">
			<div class="row columns">
				Schema:
				<input type="text" id="changeTypeOtherSchemaInput"/>
			</div>
			<div class="row columns">
				Type Identifier:
				<input type="text" id="changeTypeOtherInput"/>
			</div>
		</div>
	</div>
</div>

<div class="row column">
	<button id="changeTypeSubmit" class="button float-right">Change</button>
	<button id="changeTypeCancel" class="button secondary float-right" style="margin-right:1rem;">Cancel</button>
</div>
	