<button class="close-button" data-close aria-label="Close modal" type="button">
	<span aria-hidden="true">&times;</span>
</button>
<h3 class="row small-12 columns">
	Change Server
</h3>
<form id="changeServerForm">
	<div class="row">
		<div class="small-10 small-centered columns">
			<div id="changeServerMessageContainer"></div>
		</div>
	</div>
	
	<div class="row">
		<div class="small-12 columns" style="margin-bottom: 0.5rem;">
			Current Server:
			<span title="http://localhost:9722/api/custom" id="changeServerCurrentServer">Localhost</span>
		</div>
	</div>
	
	<div class="row">
		<div class="small-11 columns">
			<select id="newServer">
				<option value="http://localhost:9722/api/custom/">Localhost</option>
		    </select>
		</div>
		<div class="small-1 columns">
			<span id="addServer"class="fake-a">
				<i style="margin-top: 0.7rem;" title="Add New Server Endpoint" class="fa fa-plus"></i>
			</span>
		</div>
	</div>
	
	<div class="row">
		<div class="small-12 columns">
			<input type="submit" value="Change Server" class="button float-right" />
			<button id="changeServerCancel" class="button secondary float-right" style="margin-right:1rem;">Cancel</button>
		</div>
	</div>    
</form>