<div class="row">
	<div id="contactGrantMessageContainer" class="small-10 small-centered columns">
	</div>
</div>
<div class="row">
	<div class="small-12 columns">
		<h4 >
			New Contact 
		</h4>
		<p>
			Someone identifying themselves as <span style='font-weight:bold;' id="newContactName"></span> has accepted your request. Would you like to add them to your contact list?
		</p>
		
		<button id="addContact" style="margin-top:1rem;margin-left:5px" class="button float-right">
			Yes
		</button>
		<button id="skipAddContact" style="margin-top:1rem" class="secondary button float-right">
			No
		</button>
	</div>
</div>
