<div class="row">
	<div id="contactGrantMessageContainer" class="small-10 small-centered columns">
	</div>
</div>
<div class="row">
	<div class="small-12 columns">
		<h4 id="saveMessageContainer">
			Added New Contact 
		</h4>
		<p>
			Would you like to respond and share your identity with them?
		</p>
		
		<input type="text" id="contactGrantDisplayName" placeholder="Shared Display Name"/>
		
		<select id="contactGrantIdentity">
			<option selected disabled="disabled" class="hide">Select an Identity to Share</option>
		</select>
		
		<button id="sendContactGrant" style="margin-top:1rem;margin-left:5px" class="button float-right">
			Yes (Send Contact Information)
		</button>
		<button id="skipContactGrant" style="margin-top:1rem" class="secondary button float-right">
			No
		</button>
	</div>
</div>
