<h3 class="row small-12 columns">
	Copy Resource(s)
</h3>

<div class="row">
	<div id="copyResourcesMessageContainer" class="small-10 small-centered columns">
	</div>
</div>

<div class="row">
	<div class="small-12 columns">
		<p>
			Are you sure that you want to copy the following resource(s)?
		</p>
		<ul id="copyResources">
		</ul>
		
		<p>The resource(s) will be owned by: <span id="copyOwner"></span></p>
		
		<button id="submitCopyResources" style="margin-top:1rem;margin-left:1rem" class="button float-right">
			Copy
		</button>
		<button id="cancelCopyResources" style="margin-top:1rem" class="secondary button float-right">
			Cancel
		</button>
	</div>
</div>