<div class="row">
	<div id="encryptOptionsMessageContainer" class="small-10 small-centered columns">
	</div>
</div>
<div class="row">
	<div class="small-12 columns">
		<h4 >
			Encryption Details
		</h4>
		<p id="confirmMessage">
			This will hide the object from other users who aren't readers or owners, the following options can be set
			to make the object more visible, sacrificing privacy.
		</p>
		
		<div class="row" style="text-align:center;">
			<div class="small-6 columns">
				<div class="prefix">Show Encrypted Name?</div>
				<div style="margin-top:0.5rem;">
					<span style="vertical-align:super">No</span>
					<span id="showName"></span>
					<span style="vertical-align:super">Yes</span>
				</div>
			</div>
			<div class="small-6 columns">
				<div class="prefix">Show Encrypted Type?</div>
				<div style="margin-top:0.5rem;">
					<span style="vertical-align:super">No</span>
					<span id="showType"></span>
					<span style="vertical-align:super">Yes</span>
				</div>	
			</div>
		</div>
		
		<button id="confirmBtn" style="margin-top:1rem;margin-left:1rem" class="button float-right">
			Confirm
		</button>
		<button id="cancelBtn" style="margin-top:1rem" class="secondary button float-right">
			Cancel
		</button>
	</div>
</div>
