<button class="close-button" data-close aria-label="Close modal" type="button">
	<span aria-hidden="true">&times;</span>
</button>
<h3 class="row small-12 columns">
	Import Competencies
</h3>

<div class="row">
	<div class="small-10 small-centered columns">
		<div id="importCompetenciesMessageContainer" class="errorContainer"></div>
	</div>
</div>

<div class="row" id="selectLocationRow">
	<div class="small-12 columns">
		<em>Step 1: Where would you like to import to?</em>
		<select id="importLocationSelect">
			<option value="" selected="selected" id="noLocation">Loading..</option>
		</select>
		
		<div style="text-align:center;">
			<span style="vertical-align:text-bottom;">or &nbsp;</span> 
			<button class="button" id="newFramework">Create New Framework</button>
		</div>
	</div>
</div>
   
<div class="row" id="selectSourceRow">
   	<div class="small-12 columns" >
   		<p style="font-style:italic"">Step 2: Where would you like to import from?</p>
		<div style="text-align:center;">
			<button class="button" id="selectCSV">CSV</button>
			<button class="button" id="selectMedbiq">Medbiquitious XML</button>
			<button class="button" id="selectASN">ASN JSON</button>
			<button class="button hide" id="selectFramework">Another Framework</button>
		</div>
	</div>
</div> 

<div class="row hide sourceRow" id="csvSourceRow">
	<div class="small-12 columns">
		<p>CSV files should be formatted so that each row contains a single competency's 
		information. The only required column is the Competency name, other properties are 
		optional. If you include an ID column, it can either be in the format of 
		<em>&lt;URL&gt;</em> / <em>&lt;Unique ID&gt;</em> or just list the Unique ID.</p>
		<p>The URL of the current server will replace a URL in the ID column, or prepend to the ID
		if only the unique ID. Unique ID's must only contain alpha or symbol characters.</p>
		
	
		<em>Step 3: Select a CSV File on your computer</em>
		<input type="file" id="importCsvFile" accept=".csv"/>
		
		<em>Step 4: Select the Competency Name Column</em>
		<select id="importCsvColumnName"></select>
		
		<em>Step 5: Select the Competency Description Column (if exists)</em>
		<select id="importCsvColumnDescription"></select>
		
		<em>Step 6: Select the Competency Scope Column (if exists)</em>
		<select id="importCsvColumnScope"></select>
		
		<em>Step 7: Select the Competency Id column (if exists)</em>
		<select id="importCsvColumnId"></select>
		
		<em class="importCsvRelation hide">Step 8: Select a Relation CSV File on your computer (if exists)</em>
		<input class="importCsvRelation hide" type="file" id="importCsvRelation" accept=".csv"/>
	</div>
</div>

<div class="row hide sourceRow" id="csvRelationRow">
	<div class="small-12 columns">
		<em>Step 9: Select the Relation Source Column</em>
		<select id="importCsvColumnSource"></select>
		
		<em>Step 10: Select the Relation Type Column</em>
		<select id="importCsvColumnRelationType"></select>
		
		<em>Step 11: Select the Relation Target Column</em>
		<select id="importCsvColumnTarget"></select>		
	</div>
</div>
		
<div class="row hide sourceRow" id="csvOwnerRow">
	<div class="small-12 columns">
		<em>Verify Ownership:</em>
		<div id="importCsvCompetenciesOwner">Public</div>
	</div>
</div>

<div class="row hide sourceRow" id="csvActionRow">
	<div class="small-5 columns">
		<div id="csvImportProgressMessageContainer"></div>
	</div>
	<div class="small-7 columns">
		<button class="button float-right" disabled='disabled' id="submitImportCsv"><i class="fa fa-spin fa-spinner hide"></i> <span>Import from CSV</span></button>
		<button class="button float-right cancelImport secondary" style="margin-right:1rem;">Cancel</button>
	</div>
</div>

<div class="row hide sourceRow" id="medbiqSourceRow">
	<div class="small-12 columns">
		<em>Step 3: Select a Medbiquitous XML File on your computer</em>
		<input type="file" id="importMedbiqFile" accept=".xml"/>
		
		<em>Step 4: Wait for the file to be scanned</em>
		<span id="medbiqAnalyzeProgress" class="fa fa-spin fa-spinner hide"></span>
		<p style="font-weight:bold" id="medbiqImportProgress"></p>
		
		<em>Step 5: Verify Ownership</em>
		<div id="importMedbiqCompetenciesOwner">Public</div>
		
		<button class="button float-right" disabled='disabled' id="submitImportMedbiq"><i class="fa fa-spin fa-spinner hide"></i> <span>Import from Medbiquitous XML</span></button>
		<button class="button float-right cancelImport secondary" style="margin-right:1rem;">Cancel</button>
		
	</div>
</div>

<div class="row hide sourceRow" id="asnSourceRow">
	<div class="small-12 columns">
		<em>Step 3: Select a ASN JSON File on your computer</em>
		<input type="file" id="importASNFile" accept=".json"/>
		
		<em>Step 4: Wait for the file to be scanned</em>
		<span id="asnAnalyzeProgress" class="fa fa-spin fa-spinner hide"></span>
		<p style="font-weight:bold" id="asnImportProgress"></p>
		
		<div id="createFrameworkInputs">
			<em>Step 5: Create a new framework aligned with ASN Model?</em>
			<div style="text-align:center">
				<span class="prefix" style="vertical-align:30%">No</span>
				<div class="switch" style="display:inline-block;">
					<input class="switch-input" id="createFrameworkSwitch" type="checkbox" name="createFrameworkSwitch">
				  	<label class="switch-paddle" for="createFrameworkSwitch">
				  	</label>
				</div>
				<span class="prefix" style="vertical-align:30%">Yes</span>
			</div>
			
			<em>Step 6: Verify Ownership</em>
			<div id="importAsnCompetenciesCreateFrameworkOwner">Public</div>
		</div>
		
		<div id="noCreateFrameworkInputs">
			<em>Step 5: Verify Ownership</em>
			<div id="importAsnCompetenciesOwner">Public</div>
		</div>
		
		<button class="button float-right" disabled='disabled' id="submitImportASN"><i class="fa fa-spin fa-spinner hide"></i> <span>Import from ASN JSON</span></button>
		<button class="button float-right cancelImport secondary" style="margin-right:1rem;">Cancel</button>
	</div>
</div>

<div class="row hide sourceRow" id="frameworkSourceRow">
	<div class="small-12 columns">
		<em>Step 3: Select a Framework to copy from</em>
		<select id="importSourceSelect">
			<option value="" selected="selected" id="noSource" class="hide" disabled>No Source Selected</option>
		</select>
		
		<em>Step 4: Choose linking to the existing competencies or copying them for your own use</em>
		
		<div style="text-align:center">
			<span class="prefix" style="vertical-align:30%">Link</span>
			<div class="switch" style="display:inline-block;">
				<input class="switch-input" id="copySwitch" type="checkbox" name="copySwitch">
			  	<label class="switch-paddle" for="copySwitch">
			  	</label>
			</div>
			<span class="prefix" style="vertical-align:30%">Copy</span>
		</div>
		
		<div id="importFrameworkOwner" style="display:none;">
			<em>Step 5: Verify Ownership</em>
			<div id="importFrameworkCompetenciesOwner">Public</div>
		</div>
		

		<button class="button float-right" disabled='disabled' id="submitImportFramework"><i class="fa fa-spin fa-spinner hide"></i> <span>Import from selected framework</span></button>
		<button class="button float-right cancelImport secondary" style="margin-right:1rem;">Cancel</button>
		
	</div>
</div>