
<div class="row">
	<div class="small-12 columns">
		<h3>Permissions Changed</h3>

		<p>
			Do you want to propagate these permission changes to all objects referenced by this object?
		</p>

		<div id="propagateMessageContainer" class="small-10 small-centered columns"></div>		
		
		<div>
			<div id="propagateResultsDisplay" class="small-10 small-centered columns" style="cursor:default;user-select:none;">
				
	  		</div>
		</div>
		
		<div class="row">
			<div class="small-5 columns">
				<div id="propagateProgressMessageContainer"></div>
			</div>
			<div class="small-7 columns">
				<button id="propagateConfirmBtn" style="margin-top:1rem;margin-left:1rem" class="button float-right">
					Yes (Propagate Changes)
				</button>
				<button id="propagateCancelBtn" style="margin-top:1rem" class="secondary button float-right">
					No
				</button>
			</div>
		</div>
	</div>
</div>
