<div class="row">
	<div id="repoExportMessageContainer" class="small-10 small-centered columns">
	</div>
</div>
<div class="row">
	<div class="small-12 columns">
		<h4 id="confirmHeader">
			Export Objects
		</h4>
		<p id="confirmMessage">
			You can provide a name for your download: <span id="exportName"></span>
		</p>
		
		<label for="nameInput"></label>
		<input name="nameInput" id="nameInput" type="text" placeholder="(Optional) enter a file name"/>
		
		<button id="submitExport" style="margin-top:1rem;margin-left:1rem" class="button float-right">
			Download
		</button>
		<button id="cancelExport" style="margin-top:1rem" class="secondary button float-right">
			Cancel
		</button>
	</div>
</div>
