<div class="row">
	<div id="saveIdentityMessageContainer" class="small-10 small-centered columns">
	</div>
</div>
<div class="row">
	<div class="small-12 columns">
		<h4 id="saveMessageContainer">
			Your credentials have changed.
		</h4>
		<p>
			Would you like to save these changes to the cloud? Or would you like to keep them local?
			<br>
			<small>Note: If you save at any point after this, we will save all credentials in the cloud.</small>
		</p>
		<button id="saveId" style="margin-top:1rem;margin-left:5px" class="button float-right">
			Save Changes
		</button>
		<button id="skipSaveId" style="margin-top:1rem" class="secondary button float-right">
			Keep Locally
		</button>
	</div>
</div>
